<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <include file="$(find turtlebot_bringup)/launch/minimal.launch"/>
  <include file="$(find turtlebot_bringup)/launch/3dsensor.launch"/>
  
  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /> -->
  <!-- <node name="controller" pkg="experiment_05" type="controller.py" output="screen"/> -->
</launch>
